// Font Variable
$body-font: 'Inter', sans-serif;

// Font Size
$body-font-size: 14px;

// Body Line Height
$body-line-height: 1.6em;

// Light Color Palettes
$main-color: #fff;
$base-color: #000;
$base-color1: rgba(0, 0, 0, 0.95);
$base-color2: rgba(0, 0, 0, 0.70);
$base-color3: rgba(0, 0, 0, 0.4);
$base-color4: #e5e5e5;
$base-color5: rgba(0, 0, 0, 0.05);
$base-color6: rgba(0, 0, 0, 0.02);

// Accent color
$accent-color1: #007aff; //Primary Blue /
$accent-color2: #8e8e93; //Gray /
$accent-color3: #5ac8fa; //Light Blue /
$accent-color4: #34c759; //Green /
$accent-color5: #ff3b30; //Red /
$accent-color6: #ff9500; //Orange /
$accent-color7: #5856d6; //Indigo
$accent-color8: #af52de; //Purple
// #af52de; //Purple
