.table thead th {
  border-bottom-width: 1px;
  border-color: $base-color4;
  color: $base-color1;
  font-weight: 700;
}

.table td,
.table th {
  border-color: $base-color4;
}

.table .thead-light th {
  color: $base-color1;
  background-color: $base-color5;
  border-color: $base-color4;
}

.table .thead-dark th {
  background-color: $base-color1;
}

.table-hover tbody tr:hover {
  color: $base-color1;
  background-color: $base-color5;
}

.table-primary,
.table-primary>td,
.table-primary>th {
  background-color: $accent-color1;
  color: #fff;
  border-color: $accent-color1;
}

.table-secondary,
.table-secondary>td,
.table-secondary>th {
  background-color: $accent-color2;
  color: #fff;
  border-color: $accent-color2;
}

.table-success,
.table-success>td,
.table-success>th {
  background-color: $accent-color4;
  color: #fff;
  border-color: $accent-color4;
}

.table-danger,
.table-danger>td,
.table-danger>th {
  background-color: $accent-color5;
  color: #fff;
  border-color: $accent-color5;
}

.table-warning,
.table-warning>td,
.table-warning>th {
  background-color: $accent-color6;
  color: #fff;
  border-color: $accent-color6;
}
.table-info,
.table-info>td,
.table-info>th {
  background-color: $accent-color3;
  color: #fff;
  border-color: $accent-color3;
}
.table-light, .table-light>td, .table-light>th {
    background-color:  $base-color5;
}
.table-dark, .table-dark>td, .table-dark>th {
    background-color: $base-color1;
    border-color: $base-color1;
    color: #fff;
}
